/* Apply flex to the actual form */
#flight-scheduler-entry-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: flex-start;
  overflow: 0 0 auto;
  width: 100%;
}

/* side-by-side layout */
#flight-scheduler-entry-form .dispatch-left {
  width: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  float: none;
  display: flex;
  overflow: hidden;
}
#flight-scheduler-entry-form .dispatch-right {
  width: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  float: none;
  display: flex;
  overflow: hidden;
}

