<div id="flight-entry-form-wrapper" class="flight-form-wrapper">
  <div class="flight-panel">
    {{ form.outbound }}
  </div>
  <div class="flight-panel">
    {{ form.return }}
  </div>
  <div class="form-actions">
    {{ form.actions }}
  </div>
</div>
